<%- include ('./layouts/header') -%>
    <%- include ('./layouts/navbar') -%>

        <div class="container mt-5">
            <% if (error !='' ) { %>

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error:</strong>
                    <%= error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <% } %>
                    <h3 style="text-align:center" class="my-4">LOG IN</h3>
                    <form method="POST" action="/user/login" autocomplete="off">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Email"
                                aria-label="Recipient's email" aria-describedby="button-addon2" name="email"
                                required>
                            <input type="password" class="form-control" id="password" placeholder="Contraseña"
                                aria-label="Recipient's password" aria-describedby="button-addon2" name="password"
                                required>

                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Iniciar
                                    Sesión</button>
                            </div>
                        </div>
                    </form>
                 

        </div>

        <div class="container mt-4">
            <div class="input-group-append">
                <a href="/user/register">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Registrarse</button>
                </a>
            </div>

        </div>

        <%- include ('./layouts/footer') -%>